.main-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(237, 241, 232, 0.904);
}
header {
    background-color: black;
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
    color: white;
    padding: 32px;
}
header img {
    width: 72px;
    background-color: rgb(246, 247, 250);
    border-radius: 49%;
    margin-right: 18px;
}
header h1 {
    font-size: 24px;
}
.sub-header {
    margin-left: 18px;
}